header {
  background-color: silver;
  height: 120px;
  margin-bottom: 50px;
}

header img {
  margin: 35px 30px;
  float: left;
}

header h1 {
  line-height: 120px;
  font-size: 4em;
  float: left;
}

nav {
  float: right;
  height: 60px;
  margin: 30px;
  background-color: slategray;
}

nav ul {
  margin: 15px 30px; 
  font-size: 28px;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}
main {
  max-width: 960px;
  margin: 30px auto;
}

/**************************************************
*        Form Layout                              *
***************************************************/
fieldset section {
  float: left;
  margin-right: 30px;
  width: 300px;
}

fieldset section:last-of-type {
  margin-right: 0;
}

fieldset h1 {
  display: block;
  width: 300px;
  font-size: 38px;
  margin-bottom: 5px;
  text-align: center;
}

label, input {
  cursor: pointer;
}

input[type='radio'] {
  width: 100%;
  margin: 10px auto;
}

input[type='submit'] {
  width: 100%;
  height: 50px; 
  color: white;
  background-color: slategray;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

main p {
  text-indent: 25px;
}

/**************************************************
*        Table Layout                             *
***************************************************/  
table {
  font-family: 'Open+Sans', sans-serif;
  max-width: 100%;
  width: 100%;
  display: table;
  margin: 10px auto;
  border: 1px solid black;
}

th, td {
  border: 1px solid #ABA78F;
  padding: 12px 15px;
}

th {
  font-weight: bold;
  background: #333024;
  color: white;
  white-space: pre-wrap;
}

tr:not(:first-of-type) :first-child {
  background: #ABA78F;
}

canvas {
  width: 75%;
  margin: 30px auto;
}


footer {
  height: 120px;
  background-color: slategray;
}